@use 'partials/colors';
@use 'partials/margins';
@use 'mixins/media-screen';

$top-bar-height: 40px;

:host {
  display: flex;
  position: fixed;
  width: 100%;
  height: $top-bar-height;
  top: 0;
  justify-content: flex-end;
  background-color: colors.$primary-color;
}

.options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-weight: 700;

  @include media-screen.large-screens {
    margin-right: margins.$main-right-large-screens;
  }

  @include media-screen.extra-large-screens {
    margin-right: margins.$main-right-extra-large-screens;
  }

  >li {
    margin-right: 30px;
    cursor: pointer;

    >span {
      color: colors.$second-complementary-color;
      transition: color .2s;

      &:hover {
        color: colors.$white-color;
      }
    }
  }
}
