<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <input
      type="text"
      placeholder="Article title"
      class="form-input"
      formControlName="title"
    />
  </fieldset>
  <fieldset>
    <input
      type="text"
      placeholder="What is this article about?"
      class="form-input"
      formControlName="description"
    />
  </fieldset>
  <fieldset>
    <textarea
      type="text"
      placeholder="Write your article"
      class="form-input"
      formControlName="body"
    ></textarea>
  </fieldset>
  <fieldset>
    <input
      type="text"
      placeholder="Enter tags (comma is a separator)"
      class="form-input"
      formControlName="tagList"
    />
  </fieldset>
  <button type="submit"
    class="submit-btn primary-btn"
    [ngClass]="{'primary-btn--active': form.valid}"
    [disabled]="form.invalid"
  >Publish</button>
</form>
