@use 'partials/colors';

.confirm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 14px 25px;
  letter-spacing: .2em;

  &-title {
    font-size: 2em;
  }

  &-icon {
    margin-top: 30px;

    >mat-icon, span {
      color: colors.$primary-color;
      transform: scale(2.5);
      animation: load-icon .5s cubic-bezier(.2, .24, .31, 1.8);
    }
  }

  &-content {
    margin: 20px 0;
    font-size: 1.5em;
    line-height: 1.2em;

    >p {
      text-align: center;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;

    >button {
      margin: 0 10px;
      padding: 10px 25px;
    }
  }
}

@keyframes load-icon {
  0% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(0deg) scale(2.7);
  }

  100% {
    transform: scale(2.5);
  }
}
