<div class="confirm">
  <div class="confirm-title">
    {{ title() }}
  </div>
  <div class="confirm-icon">
    <span class="material-icons">question_mark</span>
  </div>
  <div class="confirm-content">
    <p>{{ content() }}</p>
  </div>
  <div class="confirm-actions">
    <button class="primary-btn primary-btn--active" (click)="onClose(false)">NO</button>
    <button class="primary-btn primary-btn--active" (click)="onClose(true)">YES</button>
  </div>
</div>
