@use 'partials/colors';

:host {
  display: block;
  margin-bottom: 25px;
}

.article {
  letter-spacing: 1.5px;

  &-content {
    font-size: 1.5rem;
    padding: 10px 0;
    cursor: pointer;

    .title {
      font-size: 1.8rem;
      margin-bottom: 10px;
      color: colors.$second-complementary-color
    }

    .description {
      font-size: 1.4rem;
    }

    .read-more {
      display: block;
      margin-top: 20px;
      font-size: 1.3rem;
      color: colors.$primary-color;
    }
  }

  &-tags {
    display: flex;
    justify-content: flex-end;
    padding-left: 20%;
  }

  &-divider {
    margin-top: 25px;
  }
}
