<div class="article">
  <mc-article-author
    [authorAvatarImage]="article.author.image"
    [authorUsername]="article.author.username"
    [articleCreatedAt]="article.createdAt"
  />
  <div class="article-content" [routerLink]="['/article', article.slug]" data-testingId="article-content">
    <h1 class="title" data-testingId="article-title">{{ article.title }}</h1>
    <p class="description" data-testingId="article-description">{{ article.description }}</p>
    <span class="read-more">Read more...</span>
  </div>
  <div class="article-tags">
    <mc-tags [tags]="article.tagList"/>
  </div>
  <mat-divider class="article-divider"/>
</div>
