@use 'partials/colors';
@use 'mixins/media-screen';

.page {
  display: flex;
  width: 100vw;
  justify-content: center;

  .container {
    flex-direction: column;
    padding-top: 70px;
    letter-spacing: 2px;

    .title {
      display: block;
      text-align: center;
      margin-bottom: 8px;
      font-size: 3rem;
      color: colors.$primary-color;
    }

    .account-question {
      text-align: center;
      margin-bottom: 30px;
      font-size: 1.5rem;

      >a {
        color: colors.$complementary-color;
        text-decoration: none;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 90vw;
      margin: 0 10px;

      >fieldset {
        width: 100%;
        margin-bottom: 10px;
        border: none;
      }

      .submit-btn {
        height: 4rem;
        align-self: flex-end;
        margin-top: 10px;
        font-size: 1.5rem;
      }
    }
  }

  @include media-screen.small-screens {
    .container {
      .form {
        width: 600px;
      }
    }
  }

}
