@mixin small-screens {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin large-screens {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin extra-large-screens {
  @media (min-width: 1200px) {
    @content;
  }
}
