<div class="page">
  <div class="container">
    <h1 class="title">Sign in</h1>
    <p class="account-question">
      <a routerLink="/registration">Need an account?</a>
    </p>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset>
        <input type="email" placeholder="Email" formControlName="email" class="form-input">
      </fieldset>
      <fieldset>
        <input type="password" placeholder="Password" formControlName="password" class="form-input">
      </fieldset>
      <button class="submit-btn primary-btn" type="submit"
        [ngClass]="{'primary-btn--active': form.valid}"
        [disabled]="form.invalid || isSubmittingSig()"
      >Sign in</button>
    </form>
  </div>
</div>
