<img [src]="profileData.image" alt="avatar" class="avatar" data-testingId="profile-avatar">
<span class="username" data-testingId="profile-username">{{ profileData.username }}</span>
@if(profileData.username === currentUser.username) {
  <button class="edit-btn primary-btn primary-btn--active" (click)="onEditProfile()" data-testingId="profile-edit-button">
    Edit Profile Settings
  </button>
}
@if(profileData.username !== currentUser.username) {
  <mc-follow-button
    [username]="profileData.username"
    [following]="isFollowing()"
  />
}
@if(profileData.username === currentUser.username) {
  <mc-logout-button/>
}
