@use 'partials/colors';

:host {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: colors.$second-complementary-color;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.username {
  font-size: 1.75rem;
  color: colors.$primary-color;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 15px;
}

.edit-btn {
  width: fit-content;
  height: 30px;
  padding: 0 20px;
  margin-bottom: 20px;
}

mc-follow-button {
  width: 250px;
}
