<ul class="options">
  @for(option of _togglerOptions; track option) {
    <li class="option"
      [ngClass]="{'option--active': option.apiUrl === selectedApiUrlSig()}"
      (click)="onToggle(option)"
      data-testingId="toggler-option"
    >
      {{ option.name }}
    </li>
  }
</ul>
<div class="articles">
  @if(selectedApiUrlSig(); as apiUrl) {
    <mc-articles [apiUrl]="apiUrl"/>
  }
</div>
