@use 'partials/colors';

:host {
  flex-grow: 1;
}

.options {
  display: flex;
}

.option {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  list-style-type: none;
  cursor: pointer;

  &--active {
    background-color: colors.$primary-color;
    color: colors.$white-color;
  }
}

.articles {
  display: block;
  margin: 20px 25px;
}
