@use 'partials/colors';
@use 'partials/margins';
@use 'mixins/media-screen';


:host {
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5px;

  @include media-screen.large-screens {
    margin-right: margins.$main-right-large-screens;
    margin-left: margins.$main-left-large-screens;
  }

  @include media-screen.extra-large-screens {
    margin-right: margins.$main-right-extra-large-screens;
    margin-left: margins.$main-left-extra-large-screens;
  }
}

.banner {
  width: 100%;
  padding: 15px;
  background-color: colors.$second-complementary-color;

  @include media-screen.large-screens {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  h1 {
    font-size: 1.8rem;
    color: colors.$white-color;
    padding-bottom: 15px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    width: 100%;

    mc-article-author {
      align-self: flex-start;
    }

    >* {
      width: 250px;
      align-self: flex-end;

      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    @include media-screen.small-screens {
      flex-direction: row;

      >* {
        width: 100%;
        max-width: 250px;
        align-self: flex-start;
        margin-right: 25px;
      }
    }
  }
}

.article-container {
  padding: 20px;

  .article-content {
    >p {
      font-size: 1.5rem;
      line-height: 3rem;
    }
  }

  mc-tags {
    margin: 20px 0;
  }
}
