@if(isLoading()) {
  <mc-loading/>
}
@if(!isLoading() && article(); as article) {
  <div class="banner">
    <h1>{{ article.title }}</h1>
    <div class="actions">
      <mc-article-author
        [authorAvatarImage]="article.author.image"
        [authorUsername]="article.author.username"
        [articleCreatedAt]="article.createdAt"
        [articleCreatedAtColor]="'white'"
      />
      @if(currentUser()?.username !== article.author.username) {
        <mc-follow-button
          [username]="article.author.username"
          [following]="article.author.following"
        />
        <mc-favorite-article-button
          [isFavorited]="article.favorited"
          [articleSlug]="article.slug"
          [favoritesCount]="article.favoritesCount"
        />
      }
      @if(currentUser()?.username === article.author.username) {
        <mc-edit-article-button/>
        <mc-delete-article-button [slug]="slug"/>
      }
    </div>
  </div>
  <div class="article-container">
    <div class="article-content">
      <p data-testingId="article-body">{{ article.body }}</p>
    </div>
    <mc-tags [tags]="article.tagList"/>
  </div>
  <div class="comment-container">
    @if(currentUser()?.username !== article.author.username) {
      <mc-post-comment [slug]="article.slug"/>
    }
    <mc-comments [slug]="article.slug"/>
  </div>
}
