@use 'partials/colors';

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .page-item {
    display: flex;
    font-size: 1.7rem;
    border: 1px solid colors.$primary-color;
    cursor: pointer;

    >a {
      padding: 7px 12px;
      text-decoration: none;
      color: colors.$second-complementary-color;
    }

    &--active {
      background-color: colors.$primary-color;

      >a {
        color: colors.$white-color;
      }
    }
  }
}
