@if(pages.length > 1) {
  <ul class="pagination" data-testingId="pagination">
    @for(page of pages; track page) {
      <li class="page-item" [ngClass]="{ 'page-item--active': currentPage === page }">
        <a class="page-link" (click)="onChangePage(page)" data-testingId="page-link">
          {{ page }}
        </a>
      </li>
    }
  </ul>
}
