@use 'mixins/media-screen';

:host {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px
}

p {
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin-bottom: 50px;

  &:nth-child(1) {
    font-size: 3rem;
  }

  @include media-screen.small-screens {
    font-size: 3rem;

    &:nth-child(1) {
      font-size: 4rem;
    }
  }
}
