@use 'partials/colors';
@use 'partials/margins';
@use 'mixins/media-screen';


:host {
  display: flex;
  position: absolute;
  height: 35px;
  width: 100%;
  bottom: 0;
  padding-left: 15px;
  align-items: center;
  font-size: 1.2rem;
  background-color: colors.$primary-color;
  color: colors.$second-complementary-color;


  @include media-screen.large-screens {
    padding-right: margins.$main-right-large-screens;
    padding-left: margins.$main-left-large-screens;
  }

  @include media-screen.extra-large-screens {
    padding-right: margins.$main-right-extra-large-screens;
    padding-left: margins.$main-left-extra-large-screens;
  }
}
