@use 'partials/colors';


.hamburger-menu {
  display: block;
  position: fixed;
  width: 50px;
  right: 0;
  cursor: pointer;

  .line {
    display: block;
    width: 35px;
    height: 3px;
    margin: 8px 0;
    background-color: colors.$white-color;
    transition: all .25s ease-in-out;

    &-open {
      &:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
        background-color: colors.$second-complementary-color;
      }

      &:nth-child(2) {
        animation: line-separating-menu .2s forwards cubic-bezier(.42,.57,.75,.4);
      }

      &:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
        background-color: colors.$second-complementary-color;
      }
    }

    &-close {
      animation: line-separating-menu-back .2s cubic-bezier(.42,.57,.75,.4);
    }
  }
}

.mobile-menu {
  $shift-down: 41px;

  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: calc(100dvh - $shift-down);
  left: 0;
  top: $shift-down;
  list-style-type: none;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: colors.$white-color;
  background-color: #333333;

  >li {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid colors.$white-color;
    cursor: pointer;
  }

  &-open {
    display: flex;
    animation: open-menu .2s both ease-out;
  }

  &-close {
    animation: close-menu .2s both ease-out;
  }
}

@keyframes line-separating-menu {
  0% {
    transform: translateX(5px);
  }

  25% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(50px);
  }

  75% {
    transform: translateY(20px);
  }

  100% {
    transform: translateX(calc(-100vw + 50px)) translateY(20px) scale(50, 2);
    background-color: colors.$second-complementary-color;
  }
}

@keyframes line-separating-menu-back {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes open-menu {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes close-menu {
  0% {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    display: none;
    opacity: 0;
    transform: translateX(100vw);
  }
}
