@use 'partials/colors';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
  letter-spacing: 1.5px;

  .comment {
    padding: 18px 14px;
    margin-bottom: 10px;
    border: 1px solid colors.$second-color;
    border-radius: 2px;
    font-size: 1.4rem;
    word-wrap: break-word;
  }

  .bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 30px;
    gap: 20px;

    .author-info {
      font-size: .8rem;
    }

    >button {
      max-width: 225px;
    }
  }
}
