@if(isLoading()) {
  <mc-loading/>
}
@if(!isLoading() && commentsDisplayed(); as commentsDisplayed) {
  @for(comment of commentsDisplayed; track comment) {
    <div class="container" data-testingId="comment-container">
      <div class="comment" data-testingId="comment-body">
        {{ comment?.body }}
      </div>
      <div class="bottom-bar">
        <div class="author-info" data-testingId="comment-author-info">
          {{ comment?.author?.username }} {{ comment?.createdAt | date:"short" }}
        </div>
        @if(currentUser()?.username === comment?.author?.username) {
          <button class="primary-btn primary-btn--active" (click)="onDelete(comment.id)">
            Delete Comment
          </button>
        }
      </div>
    </div>
  }
  @if(allComments()?.length; as numberOfComments) {
    @if(currentPageSig(); as currentPage) {
      <mc-pagination
        [total]="numberOfComments"
        [limit]="pageLimit"
        [url]="baseUrlSig()"
        [currentPage]="currentPage"
      />
    }
  }
}
