@use 'partials/margins';
@use 'mixins/media-screen';

:host {
  display: flex;
  flex-direction: column;

  @include media-screen.large-screens {
    margin-right: margins.$main-right-large-screens;
    margin-left: margins.$main-left-large-screens;
  }

  @include media-screen.extra-large-screens {
    margin-right: margins.$main-right-extra-large-screens;
    margin-left: margins.$main-left-extra-large-screens;
  }
}
