@use 'partials/colors';
@use 'mixins/media-screen';

:host {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 10px;

  >fieldset {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    font-size: 1.5rem;

    >* {
      outline-color: colors.$second-complementary-color;
    }

    >input {
      padding-left: 15px;
      padding-right: 15px;
      font-family: sans-serif;
    }

    >textarea {
      height: 400px;
      max-height: 500px;
      resize: vertical;
      border-bottom-right-radius: 10px;
      padding: 10px 15px;
      font-family: sans-serif;
    }
  }

  >button {
    height: 40px;
    margin: 15px 0 25px;
  }
}

@include media-screen.small-screens {
  form {
    max-width: 700px;
  }
}

@include media-screen.large-screens {
  form {
    max-width: 800px;
  }
}
