@use 'partials/colors';

.notification {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 14px 25px;
  letter-spacing: .2em;

  &-title {
    font-size: 2em;
  }

  &-icon {
    margin-top: 20px;

    >mat-icon,
    span {
      color: red;
      transform: scale(2.5);
      opacity: 0;
      animation: .5s load-icon .3s cubic-bezier(.2, .24, .31, 1.8) forwards;
    }
  }

  &-content {
    margin: 20px 0;
    font-size: 1.5em;
    line-height: 1.2em;

    >p {
      text-align: center;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;

    >button {
      width: 100px;
      margin: 0 20px;
      padding: 10px 20px;
    }
  }
}

@keyframes load-icon {
  0% {
    opacity: .7;
    transform: rotate(180deg);
  }
  75% {
    opacity: .9;
    transform: rotate(0deg) scale(2.7);
  }
  100% {
    opacity: 1;
    transform: scale(2.5);
  }
}
