<div class="notification">
  <div class="notification-title">
    {{ title() }}
  </div>
  <div class="notification-icon">
    <span class="material-icons">error</span>
  </div>
  <div class="notification-content">
    <p>{{ content() }}</p>
  </div>
  <div class="notification-actions">
    <button class="primary-btn primary-btn--active" mat-dialog-close>OK</button>
  </div>
</div>
