/* You can add global styles to this file, and also import other style files */
@use 'partials/colors';
@import './assets/scss/default-theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 12px;
}

body {
  &.hamburger-menu-open {
    overflow: hidden;
  }
}
