<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <input
      type="text"
      placeholder="URL of profile picture"
      class="form-input"
      formControlName="image"
    />
  </fieldset>
  <fieldset>
    <input
      type="text"
      placeholder="Username"
      class="form-input"
      formControlName="username"
    />
  </fieldset>
  <fieldset>
    <textarea
      type="text"
      placeholder="Short bio about you"
      class="form-input"
      formControlName="bio"
    ></textarea>
  </fieldset>
  <fieldset>
    <input
      type="text"
      placeholder="Email"
      class="form-input"
      formControlName="email"
    />
  </fieldset>
  <fieldset>
    <input
      type="password"
      placeholder="New password"
      class="form-input"
      formControlName="password"
    />
  </fieldset>
  <button type="submit"
    class="submit-btn primary-btn"
    [ngClass]="{'primary-btn--active': form.valid && form.dirty}"
    [disabled]="form.invalid || !form.dirty"
  >Update</button>
</form>
