<div class="container">
  <textarea [(ngModel)]="comment"
    placeholder="Write a comment..."
    maxlength="300"
    required
  ></textarea>
  <div class="actions">
    <button class="primary-btn primary-btn--active" (click)="clearComment()">
      Clear
    </button>
    <button class="primary-btn primary-btn--active" (click)="postComment()">
      Post Comment
    </button>
  </div>
</div>
