@use 'partials/colors';

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px 25px;
}

.container {
  width: 100%;
  max-width: 800px;
  letter-spacing: 1.5px;

  textarea {
    width: 100%;
    height: 150px;
    max-height: 300px;
    resize: vertical;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 18px 14px;
    font-size: 1.4rem;
    border-color: colors.$complementary-color;
    outline-color: colors.$second-complementary-color;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    gap: 20px;

    @media (min-width: 540px) {
      justify-content: flex-end;
    }

    >button {
      min-height: 30px;
      max-width: 225px;
    }
  }
}

